* {
    margin: 0;
    padding: 0;
    }
:root {
    --mainColor: #DEB887;
}
html {
    font-size: 16px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
p.heading-1 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
}
p.heading-2 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: bold;
    padding: 1.2rem 0rem 1.2rem 0rem;
    font-family: 'Raleway', sans-serif;
}
p.heading-3 {
    font-size: 1.9rem;
    font-weight: 800;
    padding: 32px 0px 24px 0px;
    font-family: 'Raleway', sans-serif;
}
p.heading-4 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem 0rem;
    color: #4A4A4A;
}
p.courses {
    padding: 0.4rem 0;
}
p {
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2rem;
}
span.bold {
    font-weight: bold;
}
span.lightgray {
    color: #9F9F9F;
}
span.logotext {
    top: 10px;
    text-transform: uppercase;
}
a:link, 
a:visited,  
a:active, 
a:visited {
    color: steelblue;
    font-size: 0.8rem;
    line-height: 2.1rem;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#container {
    width: 1131px;
    margin: 0 auto;
    border: solid 1px gainsboro;
}
span.break::before {
    content: '\A\A'; 
    white-space: pre;
}

/*BACKGROUND COLORS*/
.bg-lightergray {
    background-color: #F3F5F5;
}
.bg-white {
    background-color: #fff;
}
/*NAVIGATION*/
header {
    font-size: 1.2rem;
    background-color: #fff;
    height: 44px;
    width: 1131px;
    padding-top: 1.2rem;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    left: 23px;
    float: left;
}
ul.nav {
    right:24px;
    text-decoration: none;
    float: right;
}
.nav li {
    text-decoration: none;
    padding: 0px 11px 0px 0px;
    list-style: none;
    display: inline-block;
}
.nav a {
    background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
  padding: 10px;
}
.nav a:hover {
    background-size: 4px 40px;
}


/*SPOTLIGHT*/
#banner {
    display:flex;
    justify-content: center;
    background-color: #D8D8D8;
    height: auto;
    width: 100%;
}
#banner img,
#features img {
    width: 100%;
    height: auto;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.banner-left {
    display: flexbox;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 32px 24px;
    color: #4A4A4A;
}
.banner-right {
    width: 40%;
    height: auto;
    padding: 20px;
    color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cta-button {
    font-size: 1.2rem;
    display: block;
    background-color: #4A4A4A;
    color: white;
    width: 90%;
    padding: 18px 8px;
    text-align: center;
    border: none;
    text-align: center;
    vertical-align: middle;
    margin-top:20px; 
    cursor: pointer;
}
.cta-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.10s;
  }
  
.cta-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
.cta-button:hover {
    background-color: #000;
    transition: 0.5s;
}
.cta-button:hover span {
    padding-right: 25px;
    background-color: #000;
    transition: 0.5s;
  }
  
.cta-button:hover span:after {
    opacity: 1;
    right: 0;
}
.mini-container {
    width: 80%;
    background-color:;
}

/*FEATURES SECTION*/
#features {
    display:flex;
    justify-content: center;
    height: auto;
    width: 100%;
}
.features-left {
    display: flexbox;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 32px 24px;
    color: #4A4A4A;
}
.features-right {
    width: 40%;
    height: auto;
    padding: 20px;
    color: #4A4A4A;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.border-line-left {
    border-left: 1px solid gainsboro;
}
.border-line-bottom {
    border-bottom:#ccc 0.01rem solid;
}
.right-options {
    height: auto;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-image {
    width: 35%;
    height: auto;
    padding: 16px;
}
.options-text {
    width: 65%;
}
.options-text a {
    color: steelblue;
    text-decoration: none;
}
.options-text a:hover {
    text-decoration: underline;
}
.option-details {
    background-color: gold;
}
.bg-gray {
    background-color: #D8D8D8;
}
.bg-lightgray {
    background-color: #F3F5F5;
}


/*COURSES SECTION*/
#courses {
    background-color:#EAEBEC;
    color: #4A4A4A;
    text-align: center;
    height: auto;
    padding: 12px 72px 32px 72px;
}
.courses-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
  .courses-container > div {
    box-sizing: border-box;
    margin: 22px 0px 0 0;
    width: 32%;
    background: #fff;
    padding: 0px;
    color: #4A4A4A;
    text-align: left;
  }
  .courses-container > div:nth-child(-n+3) {
    margin-top: 20px;
  }
  .courses-container > div > div > img {
      width: 100%;
      height: auto;
      padding-bottom: 16px;
  }
  .courses-text {
      padding: 0px 0px 24px 16px; 
      width: 90%;
      box-sizing: content-box;
      color: #A1A1A1;
    
  }
/*THESIS EXIBIT SECTION*/
#thesis-exhibit {
    background-color:#F3F5F5;
    color: #4A4A4A;
    text-align: center;
    height: auto;
    padding: 12px 72px 2px 72px;
}
.thesis-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
/*FOOTER*/
#footer {
    border-top: 1px solid #E2E4E4;
    font-size: 0.7rem;
    height: 60px;
    padding: 16px 16px 0px 24px;
    background-color: #F3F5F5;
}
#footer > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0rem 0.2rem 0rem 0.7rem;
    color: darkgray;
}
#footer > ul {
    float: right;
}
.copyright {
    float: left;
    color: #959696;
}


