* {
    margin: 0;
    padding: 0;
    }
html {
    font-size: 16px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
p.heading-1 {
    font-size: 2.4rem;
    font-weight: bolder;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
p.heading-2 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: bold;
    padding: 1.2rem 0rem 1.2rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
}
p.heading-3 {
    font-size: 1.9rem;
    font-weight: bold;
    padding: 12px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
p.heading-4 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0rem;
}
p {
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    width: 1131px;
    margin: 0 auto;
    border: solid 1px gainsboro;
}

/*NAVIGATION*/
header {
    font-size: 1.2rem;
    background-color: #fff;
    height: 64px;
    width: 1131px;
    margin: 0 auto;
}
.logo {
    position: relative;
    left: 23px;
    float: left;
}
ul.nav {
    right:24px;
    text-decoration: none;
    float: right;
}
.nav li {
    text-decoration: none;
    padding: 11px;
    list-style: none;
    display: inline-block;
}
.nav a:hover, a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
}

/*SPOTLIGHT*/
#banner {
    display:flex;
    justify-content: center;
    background-color: #D8D8D8;
    height: auto;
    width: 100%;
}
#banner img,
#features img {
    width: 100%;
    height: auto;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.banner-left {
    display: flexbox;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 32px 24px;
    color: #4A4A4A;
}
.banner-right {
    width: 40%;
    height: auto;
    padding: 20px;
    color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cta-button {
    font-size: 1.2rem;
    display: block;
    background-color: #4A4A4A;
    color: white;
    width: 90%;
    padding: 18px 8px;
    text-align: center;
    border: none;
    text-align: center;
    vertical-align: middle;
    margin-top:20px; 
}
.mini-container {
    width: 80%;
    background-color:;
}

/*FEATURES SECTION*/
#features {
    display:flex;
    justify-content: center;
    background-color: #fff;
    height: auto;
    width: 100%;
}
.features-left {
    display: flexbox;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 32px 24px;
    color: #4A4A4A;
}
.features-right {
    width: 40%;
    height: auto;
    padding: 20px;
    color: #4A4A4A;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 1px solid gainsboro;
}
.right-options {
    height: auto;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-image {
    width: 35%;
    height: auto;
    padding: 16px;
}
.options-text {
    width: 65%;
}
.option-details {
    background-color: gold;
}
.bg-gray {
    background-color: #D8D8D8;
}
.bg-lightgray {
    background-color: #F3F5F5;
}
a:link,
a:active,
a:visited,
a:hover {
    color: #4A90E2;
    font-size: 0.8rem;
    line-height: 2.8rem;
}